@import '../styles/colors';
@import '../styles/mixins';


.appartement-info_container{
    @include space-between;
    flex-wrap: wrap;
    align-items:flex-start;
    .appartement-info_profil{
        .label-container{
    
            .appartement-title{
                font-size: 36px;
                font-weight: 500;
                color: $primary;
                margin-bottom: 0%;
            }
            .appartement-location{
                font-size: 18px;
                font-weight: 500;
                color: $black;
                margin-top: 0.5rem;
            }
        }

        .tags-container{
            @include left;
            flex-wrap: wrap;
            span{
                text-align: center;
                @include center;
                width: 7.19rem;
                height: 25px;
                border-radius: 10px;
                background-color: $primary;
                color: $white;
                padding: 3px 40px 3px 40px;
                margin-right: 10px;
                margin-top: 10px;
            }
        }
    }
}
